body {
  margin: 0;
}

svg {
  display: block;
  margin: auto;
}

#root {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  color: rgb(0, 0, 0);
}

#pergament-canvas {
  width: 100vw;
  height: 100vh;
  background-color: #e1dfdf;
  overflow: hidden;
}

/* #pergament-canvas:after {
  pointer-events: none;
  content:"";
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  opacity: 0.1;
} */

.react-flow__renderer {
  overflow: hidden;
}

.react-flow__selection {
  background-color: #8585853e;
  border: 1px solid #505050;
}

.react-flow__edge:hover > path {
  stroke-width: 3px !important;
}

.react-flow__nodesselection-rect {
  border-color: black;
  background-color: #bbbbbb3e;
}

.react-flow__resize-control {
  border-color: black !important;
  background-color: white !important;
}

.react-flow__resize-control.handle {
  width: 6px;
  height: 6px;
}

.node {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: scale 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.heading-node {
  border: none;
}

.note-node {
  background: rgb(255, 255, 255);
  font-size: 1rem;
  transition: scale 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  .react-flow__resize-control.line.right {
    height: 10px;
    transform: translate(-14px, -14px);
    z-index: 500;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s;
  }
}

.note-content {
  width: 100%;
  margin: 0;
  display: block;
  color: #000000;
}

.note-node:has(.react-flow__handle-connecting), .image-node:has(.react-flow__handle-connecting), .frame-node:has(.react-flow__handle-connecting), .heading-node:has(.react-flow__handle-connecting) {
  scale: 1.04;
}

.frame-node {
  width: 100%;
  height: 100%;
  background-color: #50505020;
}

.frame-highlight > .frame-node {
  border: 4px solid black;
}

.heading-node {
  width: 100%;
  height: 100%;
}

.image-node {
  padding: 0;
}

.image-placeholder {
  width: 100px;
  height: 100px;
  margin: 20px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.image-placeholder:hover {
  color: blue;
}

.uneditable {
  pointer-events: none;
}

.hide {
  opacity: 0;
}

.editing {
  cursor: text;
}

.selected > .node {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.react-flow__connectionline {
  z-index: -1 !important;
}

.react-flow__handle-right {
  scale: 1;
  transition: scale 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.4s ease-in-out;
  transition-delay: 0s;
  border: none;
}

.react-flow__handle-right:hover {
  scale: 2;
} 

.dragging > .node {
  scale: 1.01;
  box-shadow: rgba(0, 0, 0, 0.47) 5px 5px 15px;
}

.selected > path {
  stroke-width: 3px !important;
}

.ProseMirror:focus {
  outline: none;
}


.note-node .tiptap .is-editor-empty:first-child::before, .edge-label .tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.heading-node .tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: center;
  height: 0;
  pointer-events: none;
}

.arrow-handle {
  display: block;
  width: 11px;
  height: 11px;
  top: -4px;
  right: -4px;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  transform: none;
  cursor: crosshair;
  text-align: center;
  line-height: 9px;
}

.arrow-target {
  display: block;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: none;
  transform: none;
  opacity: 0;
  cursor: crosshair;
}

