/*
Most of these elements can't be properly accessed through inline-styles, so we override React Flows default styling here
https://reactflow.dev/learn/customization/theming#overriding-built-in-classes
*/

/* ! React Flow overrides */

.react-flow__renderer {
  overflow: hidden;
}

.react-flow__selection {
  background-color: #8585853e;
  border: 1px solid #505050;
}

.react-flow__nodesselection-rect {
  border-color: black;
  background-color: #bbbbbb3e;
}

.react-flow__resize-control {
  border-color: black !important;
  background-color: white !important;
}

.react-flow__resize-control.handle {
  width: 8px;
  height: 8px;
}

.react-flow__connectionline {
  z-index: 1 !important;
}

.react-flow__handle-right {
  border: none;
  transition: scale 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s ease-in-out;
}

.react-flow__handle-right:hover {
  scale: 2;
}

.note-node > .react-flow__resize-control.line.right {
  top: 100%;
  height: 14px;
  transform: translate(-18px, -18px);
  background-color: transparent !important;
  border: none;
  transition: opacity 0.3s ease-in-out;
}

.note-node:has(.react-flow__handle-connecting), .image-node:has(.react-flow__handle-connecting), .frame-node:has(.react-flow__handle-connecting), .heading-node:has(.react-flow__handle-connecting) {
scale: 1.04;
}

.frame-highlight > .frame-node {
border-width: 8px;
}

/* ! TipTap overrides */

.note-node .tiptap .is-editor-empty:first-child::before, .edge-label .tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.heading-node .tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: center;
  height: 0;
  pointer-events: none;
}

